USE [master]
GO
/****** Object:  Database [tienda_online]    Script Date: 10/04/2025 10:49:31 p. m. ******/
CREATE DATABASE [tienda_online]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tienda_online', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tienda_online.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tienda_online_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tienda_online_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tienda_online].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tienda_online]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administradors]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](max) NULL,
	[Contrasena] [nvarchar](max) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Telefono] [bigint] NOT NULL,
	[Correo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Administradors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carritoes]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [real] NOT NULL,
	[TotalProductos] [int] NOT NULL,
	[Cliente_Id] [int] NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Carritoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pais] [nvarchar](max) NULL,
	[DireccionExacta] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](max) NULL,
	[CodigoPostal] [int] NOT NULL,
	[Contrasena] [nvarchar](max) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Telefono] [bigint] NOT NULL,
	[Correo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Motivo] [nvarchar](max) NULL,
	[Pedido_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Devoluciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[FechaEntregaEstimada] [datetime] NOT NULL,
	[Estado] [nvarchar](max) NULL,
	[Pago_Id] [int] NULL,
	[Pedido_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Envios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaRealizacion] [datetime] NOT NULL,
	[Administrador_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Inventarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPagoes]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPagoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MetodoPagoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagoes]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[MetodoPago_Id] [int] NULL,
	[Pedido_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Pagoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidoes]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Total] [real] NOT NULL,
	[CarritoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Pedidoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productoes]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [real] NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[Inventario_Id] [int] NULL,
	[CategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Productoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedors]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroContrato] [int] NOT NULL,
	[FechaInicioContrato] [datetime] NOT NULL,
	[FechaFinContrato] [datetime] NOT NULL,
	[TipoProveedor] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Telefono] [bigint] NOT NULL,
	[Correo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Proveedors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resenias]    Script Date: 10/04/2025 10:49:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resenias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Info] [nvarchar](max) NULL,
	[Cliente_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Resenias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administradors] ON 

INSERT [dbo].[Administradors] ([Id], [Rol], [Contrasena], [FechaRegistro], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (1, N'Admin', N'Honduras2025', CAST(N'2025-03-05T06:00:00.000' AS DateTime), N'Aaron Isaac', N'Lopez', 87654321, N'correoperron@unah.hn')
SET IDENTITY_INSERT [dbo].[Administradors] OFF
GO
SET IDENTITY_INSERT [dbo].[Carritoes] ON 

INSERT [dbo].[Carritoes] ([Id], [Cantidad], [SubTotal], [TotalProductos], [Cliente_Id], [Estado]) VALUES (1, 45, 0, 0, 1, N'string')
SET IDENTITY_INSERT [dbo].[Carritoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Camisa', N'Camisas deportivas')
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Calzado deportivo', N'Zapatillas para correr, fútbol, baloncesto, etc')
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Equipos y accesorios deportivos', N'Equipos y accesorios deportivos')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Pais], [DireccionExacta], [Ciudad], [CodigoPostal], [Contrasena], [FechaRegistro], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (1, N'Honduras', N'Barrio Arriba, El rosario', N'Comayagua', 12101, N'estaesmicontra123', CAST(N'2025-03-17T18:14:01.123' AS DateTime), N'Aaron', N'Lopez', 95683714, N'mycorreo@gmail.com')
INSERT [dbo].[Clientes] ([Id], [Pais], [DireccionExacta], [Ciudad], [CodigoPostal], [Contrasena], [FechaRegistro], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (2, N'Estados Unidos', N'123 Maple Street, Apt 45', N'Los Angeles', 90001, N'Password456#', CAST(N'2025-03-16T15:45:20.000' AS DateTime), N'Emily', N'Johnson', 1123456789, N'emily.johnson@example.com')
INSERT [dbo].[Clientes] ([Id], [Pais], [DireccionExacta], [Ciudad], [CodigoPostal], [Contrasena], [FechaRegistro], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (4, N'España', N'Calle Gran Vía, 45', N'Madrid', 28013, N'Spain789@', CAST(N'2025-03-14T12:50:10.000' AS DateTime), N'Luis', N'García', 34987651, N'luis.garcia@example.com')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidoes] ON 

INSERT [dbo].[Pedidoes] ([Id], [Total], [CarritoId]) VALUES (4, 12, 1)
SET IDENTITY_INSERT [dbo].[Pedidoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Productoes] ON 

INSERT [dbo].[Productoes] ([Id], [NombreProducto], [Descripcion], [Precio], [CantidadDisponible], [ProveedorId], [Inventario_Id], [CategoriaId]) VALUES (6, N'Balón de fútbol', N'Balón de fútbol estándar, ideal para competencias', 25, 100, 2, NULL, 3)
INSERT [dbo].[Productoes] ([Id], [NombreProducto], [Descripcion], [Precio], [CantidadDisponible], [ProveedorId], [Inventario_Id], [CategoriaId]) VALUES (7, N'Red de voleibol playa', N'Red resistente de alta calidad para partidos de voleibol', 50, 45, 2, NULL, 3)
INSERT [dbo].[Productoes] ([Id], [NombreProducto], [Descripcion], [Precio], [CantidadDisponible], [ProveedorId], [Inventario_Id], [CategoriaId]) VALUES (10, N'Camisa deportiva', N'Camisa de algodón ideal para entrenamiento', 20, 300, 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[Productoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedors] ON 

INSERT [dbo].[Proveedors] ([Id], [NumeroContrato], [FechaInicioContrato], [FechaFinContrato], [TipoProveedor], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (1, 12345, CAST(N'2025-03-01T08:00:00.000' AS DateTime), CAST(N'2025-03-31T17:00:00.000' AS DateTime), N'Servicios de TI', N'Juan', N'Pérez', 987654321, N'juan.perez@example.com')
INSERT [dbo].[Proveedors] ([Id], [NumeroContrato], [FechaInicioContrato], [FechaFinContrato], [TipoProveedor], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (2, 67890, CAST(N'2025-04-01T09:00:00.000' AS DateTime), CAST(N'2025-06-30T18:00:00.000' AS DateTime), N'Proveedores de Balones y Redes', N'Carlos', N'Martínez', 998877665, N'carlos.martinez@sportssupply.com')
INSERT [dbo].[Proveedors] ([Id], [NumeroContrato], [FechaInicioContrato], [FechaFinContrato], [TipoProveedor], [Nombre], [Apellido], [Telefono], [Correo]) VALUES (3, 54321, CAST(N'2025-05-01T10:00:00.000' AS DateTime), CAST(N'2025-08-31T19:00:00.000' AS DateTime), N'Proveedores de Uniformes Deportivos', N'Ana', N'Gómez', 876543210, N'ana.gomez@sportswear.com')
SET IDENTITY_INSERT [dbo].[Proveedors] OFF
GO
/****** Object:  Index [IX_Cliente_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_Id] ON [dbo].[Carritoes]
(
	[Cliente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Id] ON [dbo].[Devoluciones]
(
	[Pedido_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pago_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pago_Id] ON [dbo].[Envios]
(
	[Pago_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Id] ON [dbo].[Envios]
(
	[Pedido_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Administrador_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Administrador_Id] ON [dbo].[Inventarios]
(
	[Administrador_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MetodoPago_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_MetodoPago_Id] ON [dbo].[Pagoes]
(
	[MetodoPago_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Id] ON [dbo].[Pagoes]
(
	[Pedido_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarritoId]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CarritoId] ON [dbo].[Pedidoes]
(
	[CarritoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriaId]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaId] ON [dbo].[Productoes]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventario_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Inventario_Id] ON [dbo].[Productoes]
(
	[Inventario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProveedorId]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ProveedorId] ON [dbo].[Productoes]
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_Id]    Script Date: 10/04/2025 10:49:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_Id] ON [dbo].[Resenias]
(
	[Cliente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productoes] ADD  DEFAULT ((0)) FOR [CategoriaId]
GO
ALTER TABLE [dbo].[Carritoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carritoes_dbo.Clientes_Cliente_Id] FOREIGN KEY([Cliente_Id])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Carritoes] CHECK CONSTRAINT [FK_dbo.Carritoes_dbo.Clientes_Cliente_Id]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Devoluciones_dbo.Pedidoes_Pedido_Id] FOREIGN KEY([Pedido_Id])
REFERENCES [dbo].[Pedidoes] ([Id])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_dbo.Devoluciones_dbo.Pedidoes_Pedido_Id]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Envios_dbo.Pagoes_Pago_Id] FOREIGN KEY([Pago_Id])
REFERENCES [dbo].[Pagoes] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_dbo.Envios_dbo.Pagoes_Pago_Id]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Envios_dbo.Pedidoes_Pedido_Id] FOREIGN KEY([Pedido_Id])
REFERENCES [dbo].[Pedidoes] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_dbo.Envios_dbo.Pedidoes_Pedido_Id]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inventarios_dbo.Administradors_Administrador_Id] FOREIGN KEY([Administrador_Id])
REFERENCES [dbo].[Administradors] ([Id])
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_dbo.Inventarios_dbo.Administradors_Administrador_Id]
GO
ALTER TABLE [dbo].[Pagoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pagoes_dbo.MetodoPagoes_MetodoPago_Id] FOREIGN KEY([MetodoPago_Id])
REFERENCES [dbo].[MetodoPagoes] ([Id])
GO
ALTER TABLE [dbo].[Pagoes] CHECK CONSTRAINT [FK_dbo.Pagoes_dbo.MetodoPagoes_MetodoPago_Id]
GO
ALTER TABLE [dbo].[Pagoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pagoes_dbo.Pedidoes_Pedido_Id] FOREIGN KEY([Pedido_Id])
REFERENCES [dbo].[Pedidoes] ([Id])
GO
ALTER TABLE [dbo].[Pagoes] CHECK CONSTRAINT [FK_dbo.Pagoes_dbo.Pedidoes_Pedido_Id]
GO
ALTER TABLE [dbo].[Pedidoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pedidoes_dbo.Carritoes_CarritoId] FOREIGN KEY([CarritoId])
REFERENCES [dbo].[Carritoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidoes] CHECK CONSTRAINT [FK_dbo.Pedidoes_dbo.Carritoes_CarritoId]
GO
ALTER TABLE [dbo].[Productoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productoes_dbo.Categorias_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productoes] CHECK CONSTRAINT [FK_dbo.Productoes_dbo.Categorias_CategoriaId]
GO
ALTER TABLE [dbo].[Productoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productoes_dbo.Inventarios_Inventario_Id] FOREIGN KEY([Inventario_Id])
REFERENCES [dbo].[Inventarios] ([Id])
GO
ALTER TABLE [dbo].[Productoes] CHECK CONSTRAINT [FK_dbo.Productoes_dbo.Inventarios_Inventario_Id]
GO
ALTER TABLE [dbo].[Productoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productoes_dbo.Proveedors_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productoes] CHECK CONSTRAINT [FK_dbo.Productoes_dbo.Proveedors_ProveedorId]
GO
ALTER TABLE [dbo].[Resenias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Resenias_dbo.Clientes_Cliente_Id] FOREIGN KEY([Cliente_Id])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Resenias] CHECK CONSTRAINT [FK_dbo.Resenias_dbo.Clientes_Cliente_Id]
GO
USE [master]
GO
